<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        
    </head>
    <body>
        <p th:each="person : ${listPerson}" th:text="${person}" />
           
           
        <form th:action="@{/web/getPerson}" enctype="multipart/form-data" method="POST">
               <input type="text" name="id" value=""> 
                   <input type="submit" value="Senden">
            </form>    
    </body>
</html>
